<%= simple_form_for [@cocktail, @dose] do |f| %>
  <div>

  <%= f.input :description %>

  <%= f.input :ingredient_id, collection: Ingredient.all %>
</div>

  <%= f.submit %>
<% end %>

<%= link_to "Back", cocktail_path(@cocktail) %>
